<div id="lender_container">
	<div id="myModal" class="modal">
		<div class="modal-content">
			<button type="button" name="exit_button" class="close">&#9747;</button>
			<p>Change amount I have at my disposal:</p>
			<form class="more_money" action="/lenders/<%= @current_user.id %>" method="post">
				<input type="hidden" name="_method" value="patch">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<input type="number" name="lender[capital]" value="<%= @capital %>">
				<button type="submit" name="update_button" class="sub_btn">Save</button>
			</form>
		</div>
	</div>

	<h1 class="welcome">
		Welcome,
		<%= @current_user.first_name %>
		<%= @current_user.last_name %>!
	</h1>
	<div class="money_box">
		<h2 class="capital">
			How Much Money I Have<span class="blue">:
			</span>$<%= @capital %>
			<button id="myBtn">&#177;</button>
		</h2>
		<h2 class="capital"> Amount I will Donate<span class="blue">:</span> $<%= @donated %> </h2>
	</div>
	<h2 class="needed"> Future Capital<span class="blue">:</span> $<%= @current_capital %> </h2>
	<h2 class="list_header">
		List of people in need of aid
	</h2>
	<table class="table">
		<tr>
			<th>
				Name
			</th>
			<th>
				Money Needed For
			</th>
			<th>
				Description
			</th>
			<th>
				Amount Needed
			</th>
			<th>
				Amount Raised
			</th>
			<th>
				Want to lend?
			</th>
		</tr>
		<% @borrowers.each do |borrower| %>
			<% if !borrower.loans.find_by(lender_id: @current_user.id) %>
				<tr>
					<td>
						<%= borrower.first_name %>
						<%= borrower.last_name %>
					</td>
					<td>
						<%= borrower.loan_name %>
					</td>
					<td>
						<%= borrower.loan_detail %>
					</td>
					<td>
						<%= borrower.capital_needed %>
					</td>
					<td>
						<%= borrower.loans.sum(:amount_loaned) %>
					</td>
					<td class="input">
						<% if @current_capital > 0 %>
							<form class="" action="/loans" method="post">
								<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								<input class="loan" type="number" name="amount_loaned" min="25" step="25">
								<input type="hidden" name="borrower_id" value="<%= borrower.id %>">
								<input type="hidden" name="current_capital" value="<%= @current_capital %>">
								<input class="loan_button" type="submit" value="Lend">
							</form>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>

	<h2 class="list_header">
		List of people you lent money to
	</h2>
	<table class="table">
		<tr>
			<th>
				Name
			</th>
			<th>
				Money Needed For
			</th>
			<th>
				Description
			</th>
			<th>
				Amount Needed
			</th>
			<th>
				Amount Raised
			</th>
			<th>
				Amount Lent
			</th>
			<th>
				Want to Lend?
			</th>
		</tr>
		<% @loans.each do |loan| %>
			<tr>
				<td>
					<%= loan.borrower.first_name %>
					<%= loan.borrower.last_name %>
				</td>
				<td>
					<%= loan.borrower.loan_name %>
				</td>
				<td>
					<%= loan.borrower.loan_detail %>
				</td>
				<td>
					<%= loan.borrower.capital_needed %>
				</td>
				<td>
					<%= loan.borrower.loans.sum(:amount_loaned) %>
				</td>
				<td>
					<%= loan.amount_loaned %>
				</td>
				<td class="input">
					<% if loan.borrower.capital_needed > loan.borrower.loans.sum(:amount_loaned) && @current_capital > 0 %>
						<form class="" action="/loans/<%= loan.id %>" method="post">
							<input type="hidden" name="_method" value="patch">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input class="loan" type="number" name="amount_loaned" min="25" step="25">
							<input type="hidden" name="current_capital" value="<%= @current_capital %>">
							<input class="loan_button" type="submit" value="Lend">
						</form>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
