<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
</head>
<body>
	<div class="navbar">
		<img class="emblem" src="../../assets/bone.png" alt="bonegrants">
		<% if session[:user_id] %>
				<form action="/sessions" method="post">
						<input type="hidden" name="_method" value="delete">
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						<input class="logout" type="submit" value="Log Out">
				</form>
		<% end %>
	</div>


<%= yield %>

</body>
</html>
